.filters {
    background-color:white;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 70px;
}
.filters button {
    align-self: end;
    justify-self:end;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: 0;
    margin: auto 30px auto 0;
}
.filters button:hover {
    opacity: 90%;
}

.filters div {
    height: 100%;
    width: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
.filters div h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.filters div h4 {
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 60%;
    overflow: hidden;
    text-wrap: nowrap;
}
.filters .locations {
    margin-left: 30px;
    border-right: 1px solid #DDDDDD;
    margin-right: 30px;
}
.filters .amenities {
    margin-right: 30%;
}
.popover {
    padding: 20px;
    width: 14%;
    position: absolute;
    top: 172px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    margin:0 0 0 -30px;
    border-radius: 4px;
    list-style: none;
    display: none;
    z-index: 999;
}
.popover ul {
    margin:20px 0;
    list-style: none;
}
.popover h2 {
    font-size: 16px;
}
.filters .locations:hover .popover { 
    display: block;
} 
.filters .amenities:hover .popover { 
    display: block;
} 
@media screen and (min-width: 1024px) {
    .display {
        height: 70px;
    }   
}

/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
        .filters {
            height: 70px;
            width: 90% !important;
            margin: auto;
        }
        .places {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:  center;
            flex-wrap: nowrap;
        }

}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
        .filters {
            width: 90% !important;
            margin: 0 auto 80px auto;
            flex-direction: column;
            height: auto;
        }
        .places {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:  center;
            flex-wrap: nowrap;
        }
        .filters .locations {
            border-bottom: 1px solid #CCCCCC;
        }
        .filters .amenities {
            margin-bottom: 60px;
        }
        .filters .amenities, .filters .locations {
            border-right: 0;
            height: 70px;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 0;
            width: 100%;
        }
        .filters .amenities h3, .filters .amenities h4 {
            margin-left: 16px;
        }
        .filters .locations h3, .filters .locations h4 {
            margin-left: 16px;
        }
        .locations .popover {
            padding: 20px;
            width: 79.9%;
            position: absolute;
            top: 172px;
            background-color: #FAFAFA;
            border: 1px solid #DDDDDD;
            margin: 0 0 0 -2px;
            border-radius: 4px;
            list-style: none;
            display: none;
            z-index: 999;
        }
        .amenities .popover {
            padding: 20px;
            width: 80%;
            position: absolute;
            top: 242px;
            background-color: #FAFAFA;
            border: 1px solid #DDDDDD;
            margin: 0 0 0 -2px;
            border-radius: 4px;
            list-style: none;
            display: none;
            z-index: 999;
        }
        .filters button {
            top: 242px;
            position: absolute;
            align-self: center;
            width: 80%;
            margin:  16px auto;
        }
    }

